.wrapper {
  width: 100%;
}

.mainContent {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}

.diaryContentBlock {
  display: flex;
  gap: 32px;
  width: 100%;
  padding-top: 32px;
}

.listBlock {
  flex: 1;
  max-width: 400px;
  height: fit-content;
}

.detailsBlock {
  flex: 2;
  background: transparent;
  border-radius: 32px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffcbd3 rgba(0, 0, 0, 0.2);
  background-color: #fff4f6;
  height: 727px;
  width: 643px;
}

.detailsBlock::-webkit-scrollbar {
  width: 6px;
}

.detailsBlock::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.detailsBlock::-webkit-scrollbar-thumb {
  background-color: #ffcbd3;
  border: 2px solid #ffcbd3;
  border-radius: 4px;
}

.placeholder {
  border: 2px dashed #ddd;
  border-radius: 12px;
  min-height: 180px;
  width: 643px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #fff4f6;
}

.mobileLayout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding-left: 32px;
  }

  .empty {
    align-self: center;
    margin: 30px 0;
    margin-left: 32px;
  }
}
